.upload-box {
    width: 100px;
    height: 100px;
    background-color: #f8f9fa;
    border: 1px solid #a7a8a9;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box .placeholder {
    color: rgb(109, 118, 126);
    font-size: 0.875rem;
}
