.upload-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box img.preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box .tools {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.upload-box.selected-thumbnail {
    border: 2px solid #a19d53ff !important;
    box-shadow: 0 0 0 2px rgba(3, 79, 28, 0.244);
}
