.swal2-deny {
    display: none !important;
}

#bulkActionsOffcanvas {
    width: 100% !important;
    height: 70px !important;
}

#bulkActionsOffcanvas .offcanvas-body {
    overflow: hidden !important;
    
}

#categoryBulkActionOffcanvas {
    height: 75px !important;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

#categoryBulkActionOffcanvas .offcanvas-body {
    display: flex;
    align-items: center;
    overflow: hidden !important;
}

#categoryBulkActionOffcanvas.offcanvas-docked {
    position: absolute !important;
    transform: none !important; 
    border-top: 1px solid #dee2e6; 
}

#detailModal th {
    text-transform: none !important;
}

.upload-box {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box img.preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box .tools {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.upload-box.selected-thumbnail {
    border: 2px solid #198754 !important;
    box-shadow: 0 0 0 2px rgba(3, 79, 28, 0.244);
}

.offcanvas-docked {
    position: absolute !important;
    transform: none !important;
    border-top: 1px solid #dee2e6;
}
